params {
 
 outputDir          = "" //specify output dir in the command
 tmpDir             = "" //specify tmp dir in the command

 publishDirMode     = "copy"
 fullOutput         = false

 // References
 RefDict            = "/home/nhemmat/references/GRCh38.d1.vd1_nochr.dict"
 RefFasta           = "/home/nhemmat/references/GRCh38.d1.vd1_nochr.fa"
 RefIdx             = "/home/nhemmat/references/GRCh38.d1.vd1_nochr.fa.fai"
 BwaInd             = "/home/nhemmat/references/GRCh38.d1.vd1_nochr.fa.{amb,sa,ann,pac,bwt}"

 // Regions
 BaitsBed           = "/home/nhemmat/bed_file/pipeline/S07604514_Covered_nochr.bed"
 RegionsBed         = "/home/nhemmat/bed_file/pipeline/S07604514_Regions_nochr.bed"
 ScatterNum         = "20"

 // Known sites for recalibration
 DBSNP              = "/bioinf_core/Proj/hg38_testing/Resources/Gatk_Resource_Bundle_hg38/hg38_contigs_renamed/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
 DBSNPIdx           = "/bioinf_core/Proj/hg38_testing/Resources/Gatk_Resource_Bundle_hg38/hg38_contigs_renamed/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"
 MillsGold          = "/bioinf_core/Proj/hg38_testing/Resources/Gatk_Resource_Bundle_hg38/hg38_contigs_renamed/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
 MillsGoldIdx       = "/bioinf_core/Proj/hg38_testing/Resources/Gatk_Resource_Bundle_hg38/hg38_contigs_renamed/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
 KnownIndels        = "/bioinf_core/Proj/hg38_testing/Resources/Gatk_Resource_Bundle_hg38/hg38_contigs_renamed/Homo_sapiens_assembly38.known_indels.vcf.gz"
 KnownIndelsIdx     = "/bioinf_core/Proj/hg38_testing/Resources/Gatk_Resource_Bundle_hg38/hg38_contigs_renamed/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"

 // Files needed for Mutect2
 GnomAD             = "/home/nhemmat/GATK/af-only-gnomad.hg38_no_chr.vcf.gz"
 GnomADIdx          = "/home/nhemmat/GATK/af-only-gnomad.hg38_no_chr.vcf.gz.tbi"
 PON                = "/home/nhemmat/GATK/1000g_pon.hg38_no_chr.vcf.gz"
 PONIdx             = "/home/nhemmat/GATK/1000g_pon.hg38_no_chr.vcf.gz.tbi"
 // Filter variants (FilterMutect2Tumor): set minimum allele depth
 minAD              = 5

 //Varscan settings
 min_cov            = "8"
 min_cov_normal     = "8"
 min_cov_tumor      = "6"
 pval_call_hetero   = "0.99"
 somatic_pvalue     = "0.05"
 strand_filter      = "1"
 max_normal_freq    = "0.05"
 min_tumor_freq     = "0.02"
 processSomatic_pvalue   = "0.05"

 // BAMREADCOUNT
 min_map_q          = "10"
 min_base_q         = "20"

 // Vardict
 AF_THR             = "0.01"

 // Intersection
 caller_to_isec     = "2"

 // MSI
 cov_msi            = "20"
 
 //CNV analysis
 runCNV             = false
 
 // FACETS
 CommonSNPs         = "/home/nhemmat/FACETS/00-common_all.vcf.gz"
 CommonSNPsIdx      = "/home/nhemmat/FACETS/00-common_all.vcf.gz.tbi"
 snp_mapq           = "5"
 snp_baq            = "10"
 facets_depth       = "25 4000"
 facets_cval        = "25 150"
 nbhd_snp           = "250"
 facets_gbuild      = "hg38"

 // ASCAT and allelecounter
 SNPChr             = "/home/nhemmat/ASCAT/all_intervals_G1000_sorted.txt"
 GCContent          = "/home/nhemmat/ASCAT/GC_G1000_hg38.txt"
 RepTiming          = "/home/nhemmat/ASCAT/RT_G1000_hg38.txt"
 cnv_min_base_q     = "20"
 cnv_min_map_q      = "10"
 cnv_min_cov        = "8"
 cnv_seg_penalty    = "25"
 
 // Immune analysis
 runImm             = false
 // LOH-HLA
 HLAFasta           = "/home/nhemmat/lohhla/polysolver_data/hla-polysolver/data/abc_complete.fasta"
 HLAFastaIdx        = "/home/nhemmat/lohhla/polysolver_data/hla-polysolver/data/abc_complete.fasta.fai"
 min_cov_filter     = "0"
 num_missMatch      = "3"
 
 // TcellExTRECT
 median_th          = "15"

}

// include config
includeConfig './process.config'
includeConfig './profile.config'