params {
    max_memory = 300.GB
    max_cpus   = 40
    max_time   = 336.h
}

// Enable use of Apptainer to run containers
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "" // set in command or here in config
}

// Submit up to 100 concurrent jobs
// pollInterval and queueStatInterval of every 1 minutes
// submitRateLimit of 20 per minute
executor {
    queueSize         = 100
    queueStatInterval = '1 min'
    pollInterval      = '2 min'
    submitRateLimit   = '20 min'
}

process {
    executor = 'slurm'
    cache    = 'lenient'
    stageInMode = 'symlink'
    queue = { task.time < 9.h ? 'rhel_short' : 'rhel_long' } 
}

cleanup = true
profiles {
    debug {
        cleanup = false
    }
}